body {
    background: #09f;
    color: #C00;
    font: 16px 'Arial',sans-serif;
    text-align: center;
}
a {
    color: #0F0;
    text-decoration: none;
}
a:hover {
    color: #906;
}
div.contenedor {
    width: 100%;
    margin: 0 auto;
}
div.izquierda, div.derecha {
    width: 300px;
}
div.izquierda {
    float: left;
    text-align: left;
}
div.juego {

}
div.juego canvas {
    box-shadow: 0 0 30px #000;
}
div.derecha {
    float: right;
}
div.derecha h3.tituloPuntuaciones {
    background: url("../images/medalla.png") no-repeat left;
    padding: 10px;
}
div.derecha ul#puntuaciones {
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

